.wrapper-slider{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0vw;
    transition: 1000ms ease-in-out;
}
.page {
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
    overflow: auto;
}